*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* styling header */
header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    /* debugging */
    background-color: red;
}
/* header logo */
.header-logo{
    vertical-align: middle;
    width: 200px;
    padding: 0 20px;
}
header li{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding: 0 20px;
}
header ul{
    display: inline-block;
    vertical-align: middle;
}
.ul-right-header{
    float: right;
}
.btn{
    border: none;
    padding: 10px 20px;
    background-color: rgb(0, 97, 255);
    color: white;
    font-size: 15px;
}
.header-btn{
    vertical-align: middle;
    margin-right: 10px;
}
/* stylining jumbotron */
.jumbotron{
    width: 100%;
    background-color: rgb(180, 208, 231);
    padding-bottom: 150px;
}
.container{
    width: 80%;
    margin: 0 auto;
    /* debugging */
    background-color: yellow;
}
.container-2{
    width: 70%;
    margin: 0 auto;
    /* debugging */
    background-color: green;
}

.jumbotron-title{
    font-size: 90px;
    font-weight: bold;
    padding-top: 50px;
}
.jumbotron-p{
    width: 30%;
    text-align: left;
    font-size: 20px;
    padding-top: 25px;
}
.jumbotron-btn{
    margin-top: 25px;
}
.jumbotron-snd-title{
    display: block;
    font-size: 15px;
    padding-top: 10px;
}
.fa-arrow-down{
    font-size: 40px;
    padding-top: 40px;
}
.jumbotron-image{
    width: 1000px;
    float: right;
    padding-top: 30px;
}
/* styling section 2 */
.section-2-title{
    padding-top: 80px;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}
.radio-btn{
    padding: 50px 0;
    display: block;
}
.radio-btn-1{
    display: inline-block;
    padding-right: 20px;
}
.radio-btn-2{
    display: inline-block;
}
.fa-dot-circle
{
    color: rgb(0, 97, 255);
}
/* clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* column container */
.clmn-container{
    width: 100%;
    /* debugging */
    background-color: red;  
}
/* styling columns */
.clnm{
    width: calc(89% / 3);
    float: left;
    display: inline-block;
    border: 1px solid grey;
    /* debugging */
    background-color: blue;
}
.clnm.center{
    margin: 0 73px;
}
.clnm.right{
    float: right;
}
.clnm-int{
    text-align: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
}
.clnm-title{
    font-size: 30px;
    font-weight: bold;
}

.clnm-price{

    font-weight: bold;
}
.clnm-dir{
    clnm-user
    color: grey;
    margin: 15px 0 50px 0;
}
.margin{
    margin: 15px 0 0 30px;
}
.m-bottom{
    margin-bottom: 20px;
}
.btn.column{
    margin: 40px 0;
    padding: 10px 82px;
}
.clnm-or{
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}
.clnm-buy{
    display: inline-block;
    color: rgb(12, 104, 255);
    text-decoration: underline;
}

.fa-check{
    color: rgb(12, 104, 255);
}
.list-title{
    padding: 20px 0;
    font-weight: bold;
}
.clnm li{
    padding-bottom: 40px;
    
}
.clnm ul {
    list-style: none;
}